<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjcrm.entity">

	<select id="querySystemMessageByCreateUserId" parameterType="java.util.Map"
		resultType="com.hjcrm.system.entity.Systemmessage">
		select * from hj_systemmessage where create_id = #{createUserId}
	</select>
	<select id="queryTodayNoteByUserId" parameterType="java.util.Map"
		resultType="com.hjcrm.system.entity.Todaynote">
		select * from hj_todaynote where userid = #{userid}
	</select>
	


</mapper> 
